<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  
<form method="POST" class="post-form" action="/updatecreator/{{creator.username}}">  
        {% csrf_token %}  
    <div class="container">  
<br>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <h3>Update Details</h3>  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">creator username:</label>  
    <div class="col-sm-4">  
        <input type="text" name="username" id="id_eid"  maxlength="20" value="{{ creator.username }}"/>  
    </div>  
  </div>  
  <div class="form-group row">  
    <label class="col-sm-2 col-form-label">creator Name:</label>  
    <div class="col-sm-4">  
        <input type="text" name="name" id="id_ename" maxlength="100" value="{{ creator.name }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">creator Email:</label>  
    <div class="col-sm-4">  
        <input type="email" name="email" id="id_eemail" maxlength="254" value="{{ creator.email }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-2 col-form-label">creator password:</label>  
    <div class="col-sm-4">  
        <input type="password" name="password" id="id_econtact" required maxlength="15" value="{{ creator.password }}" />  
    </div>  
  </div>  
    <div class="form-group row">  
    <label class="col-sm-1 col-form-label"></label>  
    <div class="col-sm-4">  
    <button type="submit" class="btn btn-success">Update</button>  
    </div>  
  </div>  
    </div>  
</form>  
</body>  
</html>  