<!DOCTYPE html>  
<html lang="en">  
<head>  
    <meta charset="UTF-8">  
    <title>Index</title>  
    {% load static %}  
    <link rel="stylesheet" href="{% static 'css/style.css' %}"/>  
</head>  
<body>  

    <div class="container mt-5"><h2 class="h2"> SIGNUP</h2></div>
    <div class="login-container">
    <form method="POST" class="form-login" action="/addviewer">  
          {% csrf_token %}  
          {{ form.as_p }}
          {% if error %}
          <p>{{ error }}</p>
          {% endif %}
          <input class="btn btn-sm btn-primary" type="submit" value="Submit">  
  </form> 
  </div>
</body>  
</html>  